.host-parent{
    display:flex;
    align-items: center;
}
.host-picture{
    width:64px;
    height:64px;
    border-radius: 50%;
}
.host-name{
    width:93px;
    font-size:18px;
    color:#ff6060;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    margin-right: 10px;
}
.star{
    width:30px;
    height:30px;
}
.star-rating{
    margin-top:10px;
}

@media (max-width:768px){
    .parent-div{
        margin-top:20px;
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}