.card-title{
    font-size:30px;
    color:#ff6060;
    font-weight: 500;
    font-style: normal;
    margin:0;
    
}
.card-localisation{
    font-size:18px;
    color:#ff6060;
    font-weight: 500;
    font-style: normal;
    margin:0;
    margin-bottom:10px;
}
.card-tag{
    width:115px;
    height:25px;
    border-radius:10px;
    background: #ff6060;
    color:white;
    text-align: center;
    font-size:14px;
    padding:3px 20px;
    margin-right: 10px;
    cursor:pointer;
}

@media(max-width:768px){
    .card-title{
        font-size:18px;
    }
    .card-localisation{
        font-size:14px;
    }
    .card-tag{
        margin:0;
        width:auto;
    }
}