.home-banner{
    height:223px;
    background:#000000;
    mix-blend-mode: darken;
    opacity:1;
    border-radius: 25px;
    box-shadow: inset 0 1000px 1000px 0 rgba(0,0,0,0.30);
    background-image:url(../../images/homebanner.png);
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    font-size:48px;
    font-weight: bold;
    color:#fff;
    margin-top:20px;
}


@media (max-width:576px){
    .home-banner{
        height:111px;
    }
    .banner-text{
        font-size:20px;
    }
}